## Titanic Survival Classification and Web-App
- ### Road map

- Define problem
- Get data set
- Explore, analyse and prepare data
- Identify relationships and partterns 
- Define model to implement 
- Build model and test pearfomance
- Utilize the model in a web-app

Data scientist best workflow include:
- having little domain knowledge
- classifying data to identical group
- finding correlatiion among data set 
- feature engineering: to create new column from existing ones which wil help further in analysis
- complete and correct: to find unidentify data like null, outleirs etc 
- using right chart to visualize our work.
- converting column type to numerical(depends on the algorithm) and scaling numeric data prperly

In [63]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import random as randn
import statistics
import seaborn as sns
%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [64]:
# data analysis and wrangling
url = r'C:\Users\pc\Desktop\mydataanalysis\python\jupyterNotebook\project\Titanic-App\train.csv'
url2 = r'C:\Users\pc\Desktop\mydataanalysis\python\jupyterNotebook\project\Titanic-App\test.csv'
train = pd.read_csv(url)
test = pd.read_csv(url2)
titanic = train

In [65]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [66]:
titanic.drop(['Name','Ticket'], axis=1,inplace=True)
test.drop(['Name','Ticket'], axis=1,inplace=True)

In [67]:
# titanic.info()
titanic.isnull().sum()
# print(test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [68]:
# titanic.drop(['Name','Ticket'], axis=1,inplace=True)
# test.drop(['Name','Ticket'], axis=1,inplace=True)
titanic.drop('Cabin',axis=1, inplace=True)

titanic.Embarked.fillna(value=statistics.mode(titanic['Embarked']), inplace=True)
titanic.Age.fillna(value=titanic.Age.mean(), inplace=True)

test.drop('Cabin',axis=1, inplace=True)
test.Embarked.fillna(value=statistics.mode(titanic['Embarked']), inplace=True)
test.Age.fillna(value=titanic.Age.mean(), inplace=True)

In [81]:
# titanic.isnull().sum()
test.isnull().sum()
test.Fare.fillna(value=test.Fare.mean(), inplace=True)

In [70]:
titanic.Survived = titanic.Survived.astype('int32')
titanic.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [71]:
# check diaribution and correlation
# g = sns.PairGrid(titanic)
# g.map(sns.scatterplot)

In [72]:
# sns.catplot(x='Survived', y='Sex', data=titanic,kind='violin')

In [73]:
# X_train = pd.get_dummies(titanic, columns=['Pclass','Sex','SibSp','Parch','Embarked'])
# X_train['Parch_3'] = X_train['Parch_4'].apply(lambda x: 0)
# X_train['Parch_9'] = X_train['Parch_4'].apply(lambda x: 0)
# X_train
# X_test = test
# X_test = pd.get_dummies(X_test, columns=['Pclass','Sex','SibSp','Parch','Embarked'])
# X_test.fillna(value=0, inplace=True)

In [75]:
from sklearn.model_selection import train_test_split
y_train = titanic['Survived']
X_train = titanic.drop('Survived', axis=1)
# X_train, X_test,y_train,y_test = train_test_split(X,y, test_size=0.30,random_state=0)

In [93]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import joblib 
num_ftr = [3,6]
num_trans = Pipeline(steps=[('standard', StandardScaler())])
cat_ftr = [2,7]
cat_trans = Pipeline(steps=[('onehot', OneHotEncoder())])
processor = ColumnTransformer(transformers=[('cat', cat_trans,cat_ftr),('num', num_trans,num_ftr)])
pipepline = Pipeline(steps=[('Preprocessor', processor), ('algo', RandomForestClassifier())])

model = pipepline.fit(X_train,y_train)
model.predict(test)
filename = './titan.pkl'
joblib.dump(model, filename)

['./titan.pkl']

In [94]:
import pickle
# model = pickle.load(open('C:/Users/pc/Desktop/mydataanalysis/python/jupyterNotebook/project/Titanic-App/titan.pkl','rb'))
loadmd = joblib.load(filename)
xnew = np.array([[3,2,'male',24,2,2,233,'Q']])
loadmd.predict(xnew)

c:\Users\pc\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
c:\Users\pc\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([0])

In [ ]:
# output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': titanic_pred})
# output.to_csv('submission.csv', index=False)
# print("Your submission was successfully saved!")

Your submission was successfully saved!

In [90]:
test

     PassengerId  Pclass     Sex        Age  SibSp  Parch      Fare Embarked
0            892       3    male  34.500000      0      0    7.8292        Q
1            893       3  female  47.000000      1      0    7.0000        S
2            894       2    male  62.000000      0      0    9.6875        Q
3            895       3    male  27.000000      0      0    8.6625        S
4            896       3  female  22.000000      1      1   12.2875        S
..           ...     ...     ...        ...    ...    ...       ...      ...
413         1305       3    male  29.699118      0      0    8.0500        S
414         1306       1  female  39.000000      0      0  108.9000        C
415         1307       3    male  38.500000      0      0    7.2500        S
416         1308       3    male  29.699118      0      0    8.0500        S
417         1309       3    male  29.699118      1      1   22.3583        C

[418 rows x 8 columns]